<h1>Hello world!</h1>

<a href="/paper" class="btn btn-block btn-info">
Play Paper
</a>
<a href="/rock" class="btn btn-block btn-info">
Play Rock
</a>

<p>You played scissors.</p>
<p>
  The computer played <%= @computer_move %>.</p>

  <p>
    You <%= @result %>!
  </p>
