<h1>Hello world!</h1>

<a href="/rock" class="btn btn-block btn-info">
Play Rock
</a>

<a href="/scissors" class="btn btn-block btn-info">
Play Scissors
</a>

<p>You played paper.</p>
<p>
  The computer played <%= @computer_move %>.</p>

  <p>
    You <%= @result %>!
  </p>
