<!--
<p>
  Play <a href="/play/rock">rock</a>.
</p>
<p>
  Play <a href="/play/scissors">scissors</a>.
</p>

<p>You played paper.</p>

<p>
  The computer played
  <%= @computer_move %>.
</p>

<p>
  You <%= @result %>!
</p> -->
