<body>
  <div class="container-fluid ">

<div>
<h2>
  <a href="http://localhost:3000/rock" "class="btn btn-primary btn-lg btn-block"><Link button</a>
    <button type="button" class="btn btn-primary btn-lg btn-block">Play Rock</button>

  <a href="http://localhost:3000/scissors" "class="btn btn-primary btn-lg btn-block"><Link button</a>
  <button type="button" class="btn btn-primary btn-lg btn-block">Play Scissors</button>

  <a href="http://localhost:3000/paper" "class="btn btn-primary btn-lg btn-block"><Link button</a>
<button type="button" class="btn btn-primary btn-lg btn-block">Play Paper</button>
</h2>
</div>

<h1>Hi, your move was paper.</h1>

<img src="/assets/images/paper.png" class="img-responsive" alt="Responsive image"/>

<h2>The user move was paper </h2>

<h2>The computer move was:  <%=  @computer_move  %> </h2>

<h2>The result is You: <%=   @result  %> </h2>

<%  if @result == "Tie"  %>
<h2> Ah, we tied </h2>
<%  elsif @result == "Win"  %>
<h2> Congrats! You WON!!!</h2>
<% else %>
<h2> So sorry, you lost. </h2>
<% end %>
</body>
