<h1>Hi you are at aebra.html.erb</h1>

<h2>The user move is paper</h2>

<h2>The computer move was <%= @computer_move%></h2>

<h2>The result was <%= @result%></h2>

<% if @result == "tie" %>
  <h2>Ah, we tied!</h2>
<% end %>
