<!DOCTYPE html>
<html>
<!-- Connect to Bootstrap CSS -->
<link rel="stylesheet" href="assets/stylesheet/bootstrap.css">

<!-- Connect to our own additional CSS -->
<link rel="stylesheet" href="assets/application.css">

<!-- These meta tags make Bootstrap responsive and more accessible -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Connect to Google Web Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic,800,800italic' rel='stylesheet' type='text/css'>

<!-- Display Logic -->
<div class="container">
    <div class="row padding-inside-top-md padding-inside-bottom-md">
        <div class="col-md-offset-2 col-md-8">

          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary">Play Rock</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-info">Play Paper</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary">Play Scissors</button>
            </div>
          </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
          <div class="panel panel-success">
          <div class="panel-heading">
          <h2 class="panel-title text-center">
          Paper
          </h2>
          </div>
          <div class="panel-body">
          <img class="img-responsive" src="assets/images/paper.png">
          </div>
          </div>
          </div>

        <div class="col-md-4">
          <p>
            The computer played <%= @computer_move %>
          </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <p>
            You <%= @result %>
          </p>
        </div>
    </div>
</div>
</html>
