
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h2>You played Scissors</h2>

      <h2>The computer played <%= @computerPlays %> </h2>

      <h1><%= @result %> </h1>
    </div>
  </div>
  <div class="row centered">
    <div class="col-md-2">
      <a href="http://localhost:3000/play/rock"><img src="http://localhost:3000/assets/images/rock.png" class="img" width = 200px></a>

      <a href="http://localhost:3000/play/rock"><h3>Play Rock<h3></a>
      </div>
      <div class="col-md-2">
        <a href="http://localhost:3000/play/paper"><img src="http://localhost:3000/assets/images/paper.png" class="img" width = 200px></a>
        <a href="http://localhost:3000/play/paper"><h3>Play Paper<h3></a>
        </div>
        <div class="col-md-2">
          <a href="http://localhost:3000/play/scissors"><img src="http://localhost:3000/assets/images/scissors.png" class="img" width = 200px></a>
          <a href="http://localhost:3000/play/scissors"><h3>Play Scissors<h3></a>
          </div>
        </div>
      </div>
