<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div class="btn-group btn-group-justfied">
        <a href="http://localhost:3000/play/rock" class="btn btn-block btn-primary">Play Rock</a>
        <a href="http://localhost:3000/play/paper" class="btn btn-block btn-info">Play Paper</a>
        <a href="http://localhost:3000/play/scissors" class="btn btn-block btn-primary">Play Scissors</a>
      </div>
    </div>
  </div>
</hr>

</div>


<p>
  "You played rock."
</p>

<p>
  The computer played <%= @computer_move %>
</p>

<p>
  You <%= @result %>
</p>
