<!-- <body> -->
  <div class="container">
    <!-- ::before -->
    <hr>
    <div class="row">
      <!-- ::before -->
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <div class="btn-group btn-group-justfied">
          <a
          href="http://localhost:3000/play/rock" class="btn btn-block btn-primary">Play Rock
        </a>

        <a
        href="http://localhost:3000/play/paper" class="btn btn-block btn-info">Play Paper
      </a>

      <a href="http://localhost:3000/play/scissors" class="btn btn-block btn-primary">Play Scissors
      </a>

    </div>
  </div>
  <!-- ::after -->
</div>
</hr>

<div class="row">
  <div class="col-md-4 col-md-offset-2 col-xs-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2 class="panel-title text-center">
          paper
        </h2>
      </div>

      <div class="panel-body">
        <img class="img-responsive" src="/assets/images/paper.png">
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xs-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title text-center">
          <%= @computer_move %>
        </h2>
      </div>

      <div class="panel-body">
        <% if @computer_move == "rock"%>
          <img class="img-responsive" src="/assets/images/rock.png">
        <% elsif @computer_move == "paper"%>
          <img class="img-responsive" src="/assets/images/paper.png">
        <% elsif @computer_move == "scissors"%>
          <img class="img-responsive" src="/assets/images/scissors.png">

        <% end %>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well text-center">
      <h1>
        <span class="label label-warning">
          You <%= @result %>!
        </span>
      </h1>
    </div>
  </div>
</div>

</div>
<!-- </body> -->
