<body>
  <div class="container">
    <div class="row header">
      <div class="col-md-offset-1 col-md-10 text-center">
        <h1>Rock, Paper, Scissors</h1>
      </div>
    </div>
    <div class="row">
      <div class = "col-md-offset-1 col-md-10">
        <hr>
      </div>
    </div>
    <div class="row nav">
      <div class="col-md-offset-2 col-md-8">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <a href="/play/rock" class="btn btn-primary" role="button">Play Rock</a>
          <a href="/play/paper" class="btn btn-info" role="button">Play Paper</a>
          <a href="/play/scissors" class="btn btn-primary" role="button">Play Scissors</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class = "col-md-offset-1 col-md-10">
        <hr>
      </div>
    </div>
    <div class="row moves">
      <div class="col-md-offset-2 col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading text-center">
            <h3 class="panel-title">Rock</h3>
          </div>
          <div class="panel-body">
            <img class="img-responsive" src="\assets\images\rock.png">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-danger">
          <div class="panel-heading text-center">
            <h3 class="panel-title"><%=@computer_move_format%></h3>
          </div>
          <div class="panel-body computer">
            <img class="img-responsive" src=<%=@computer_move_image%>>
          </div>
        </div>
      </div>
    </div>
    <div class="row result">
      <div class="col-md-offset-4 col-md-4 text-center">
        <h2>
          <span class="label <%=@span%>">
            You <%=@result%>!
          </span>
        </h2>
      </div>
    </div>
  </div>
</body>
