<h1>hi, you are at zebra</h1>
<h2>the computer move was: <%=  @computer_move   %></h2>
<h2> the result is you: <%=  @result  %></h2>

<% if @result=="tie"  %>
<h2>ah, we tied</h2>
<%elsif @result=="win" %>
<h2>congrats, you won</h2>
<%else%>
<h2>sorry you lost</h2>
<%end%>
