<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <a href="/rock" class="btn btn-block btn-info">Play Rock</a>
        <a href="/paper" class="btn btn-block btn-primary">Play Paper</a>
        <a href="/scissors" class="btn btn-block btn-primary">Play Scissors</a>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-offset-2 col-md-4">
      <img class="img-responsive" src="/assets/images/rock.png" />
    </div>
    <div class="col-md-4">
      <% if @computer_move == "rock" %>
      <img class="img-responsive" src="/assets/images/rock.png" />
      <% elsif @computer_move == "paper" %>
      <img class="img-responsive" src="/assets/images/paper.png" />
      <% else %>
      <img class="img-responsive" src="/assets/images/scissors.png" />
      <% end %>

    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">

      <% if @result == "Tie" %>
      <div class="well text-center">
        <h2>Tou tied!)</h2>
      </div>
      <% elsif @result == "Win" %>
      <div class="well text-center">
        <h2>You won!</h2>
      </div>
      <% else %>
      <div class="well text-center">
        <h2>You lost!</h2>
      </div>
      <% end %>
    </div>
  </div>
</div>


<!-- <h2>The computer move was: <%= @computer_move %></h2>
<h2>The result is you: <%= @result %> </h2> -->
