<!--
<h1>Hi, you are at rock.html.erb</h1>

<h2>The user move was rock</h2> -->



<div class="btn-group btn-lg btn-group-justified padding-inside-top-md padding-inside-bottom-md" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="http://localhost:3000/rock">
      <button type="button" class="btn btn-default play-bar">Play Rock</button>
    </a>
  </div>
  <div class="btn-group" role="group">
    <a href="http://localhost:3000/scissors">
      <button type="button" class="btn btn-default play-bar">Play Scissor</button>
    </a>
  </div>
  <div class="btn-group" role="group">
    <a href="http://localhost:3000/paper">
      <button type="button" class="btn btn-default play-bar">Play Paper</button>
    </a>
  </div>
</div>


<!-- <h2>The computer move was: <%= @computer_move %> </h2> -->
<!-- <h2>The result was <%= @result %></h2> -->

<!-- The equal sign "=" means output in the browser (see above); without the "=" it will not be added to the url (see below) -->

<% if @result=="Tie" %>

<div>
  <div class="col-sm-6 panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title text-center">
      Your Move: Rock
    </h2>
  </div>
    <div class="panel-body"><div class="row padding-inside-top-md padding-inside-bottom-md">
      <div class="col-sm-6">
        <img src="assets/images/rock.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6 panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title text-center">
    My Move: Rock
  </h2>
</div>
  <div class="panel-body"><div class="row padding-inside-top-md padding-inside-bottom-md">
    <div class="col-sm-6">
      <img src="assets/images/rock.png" alt="" />
    </div>
  </div>
</div>
</div>
</div>

<div class="row col-sm-offset-1 col-sm-10 status-output padding-inside-top-md padding-inside-bottom-md badge">
  <button type="button" class="btn btn-default result-tie">Ah, we tied.</button>
</div>



<% elsif @result=="Win" %>

<div>
  <div class="col-sm-6 panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title text-center">
      Your Move: Rock
    </h2>
  </div>
    <div class="panel-body"><div class="row padding-inside-top-md padding-inside-bottom-md">
      <div class="col-sm-6">
        <img src="assets/images/rock.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6 panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title text-center">
    My Move: Scissors
  </h2>
</div>
  <div class="panel-body"><div class="row padding-inside-top-md padding-inside-bottom-md">
    <div class="col-sm-6">
      <img src="assets/images/scissors.png" alt="" />
    </div>
  </div>
</div>
</div>
</div>




<div class="row col-sm-offset-1 col-sm-10 status-output padding-inside-top-md padding-inside-bottom-md badge">
  <button type="button" class="btn btn-default result-win">Congrats, you won.</button>
</div>


<% else %>

  <div class="col-sm-6 panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title text-center">
      Your Move: Rock
    </h2>
  </div>
    <div class="panel-body"><div class="row padding-inside-top-md padding-inside-bottom-md">
      <div class="col-sm-6">
        <img src="assets/images/rock.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6 panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title text-center">
    My Move: Paper
  </h2>
</div>
  <div class="panel-body"><div class="row padding-inside-top-md padding-inside-bottom-md">
    <div class="col-sm-6">
      <img src="assets/images/paper.png" alt=""/>
    </div>
  </div>
</div>
</div>


<div class="row col-sm-offset-1 col-sm-10 status-output padding-inside-top-md padding-inside-bottom-md badge">
  <button type="button" class="btn btn-default result-lose">Sorry, you lost.</button>
</div>



<% end%>
