<h1>Hi, you played Rock!</h1>


  <div class="row">
  <div class="col-md-4 col-md-offset-2 col-xs-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2 class="panel-title text-center">
          Rock
        </h2>
      </div>
      <div class="panel-body">
        <img class="img-responsive" src="/assets/images/rock.png">
      </div>
    </div>
  </div>


<h2>The user move was rock</h2>
<h2>The computer move was: <%= @computer_move %></h2>

<h2>The result is You: <%= @result %>

  <% if @result == "Tie" %>
  <h2>Ah, we tied</h2>
  <% elsif @result == "Win" %>
  <h2>Congrats! You WON!!!!!</h2>
  <% else %>
  <h2>So sorry, you lost.</h2>

<% end %>

<a href="/paper">Let's play paper this time</a>

<p>

<a href="/scissors">Let's play scissors this time</a>
