<h1>Hi, you played Paper!</h1>

<img src="/assets/images/paper.png"/>

<h2>The user move was paper</h2>
<h2>The computer move was: <%= @computer_move %></h2>

<h2>The result is You: <%= @result %>

  <% if @result == "Tie" %>
  <h2>Ah, we tied</h2>
  <% elsif @result == "Win" %>
  <h2>Congrats! You WON!!!!!</h2>
  <% else %>
  <h2>So sorry, you lost.</h2>

<% end %>

<a href="/rock">Let's play rock this time</a>

<p>

<a href="/scissors">Let's play scissors this time</a>
