<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Connect to Font Awesome CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<h1>Welcome</h1>
<h2>To Alyse's Take on the Classic Game of Rock Paper Scissors</h2>
<h3>Enter with caution.</h3>

<p>
What would you like to play?
</p>
