<h1>Hello world!</h1>

<p>
  You played rock.
</p>

<!-- <p>
  The computer played <%= ["rock","paper","scissors"].sample %>.
</p> -->

<!-- The below is easier to do - you write the rps.sample stuff - any complex code you want in our ruby folder - game_controller.rb - and then we can just put the name in this html file. this btw is our firt dynamic program in html-->
<p>
  <%= computer_move %>
</p>
