<!-- Navbar default w/ the 3 options -->
<!-- Left side move = user move / right side pic = comp move  -->
<!-- bottom part is the result -->
<!-- Connect to Bootstrap CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Connect to Font Awesome CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<p>
  You played <%= @user_move %>.
</p>

<!-- The below is easier to do - you write the rps.sample stuff - any complex code you want in our ruby folder - game_controller.rb - and then we can just put the name in this html file. this btw is our firt dynamic program in html-->
<p>
  The computer played <%= @computer_move %>.
</p>

<p>
  You <%= @result %>!
</p>
