<h1>Hi, you are at zebra.html.erb</h1>

<img src="assets/images/rock.png"/>

<h2>The user move was rock</h2>

<h2>The computer move was: <%= @computer_move %> </h2>

<h2><%= @result %> </h2>

<% if @result == "Tie" %>
<h2>Ah, we tied</h2>
<%elsif @result == "Win"%>
<h2>Congrats! You WON!!!</h2>
<%else %>
<h2>So sorry, you lost</h2>
<%end%>
