<div class="container">
  <hr>

  <div class="row">

    <div class="col-md-8 col-md-offset-2">
      <div class="btn-group btn-group-justified">
        <a href="/play/rock" class="btn btn-primary btn-group-lg">Play Rock</a>
        <a href="/play/paper" class="btn btn-primary btn-group-lg">Play Paper</a>
        <a href="/play/scissor" class="btn btn-primary btn-group-lg">Play Scissor</a>
      </div>
    </div>

  </div>
  <hr>

  <div class="row">
    <div class="col-md-4 col-xs-offset-6 col-md-offset-2">
      <div class="panel panel-success">
        <div class="panel-heading text-center">
          <h3 class="panel-title">Scissor</h3>
        </div>

        <div class="panel-body">
          <img src="/assets/images/scissor.png" class="img-responsive"/>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-0">
      <div class="panel panel-danger">
        <div class="panel-heading text-center">
          <h2 class="panel-title"><%= @computer_move.capitalize %></h2>
        </div>
        <div class="panel-body">
          <img src="/assets/images/<%= @computer_move %>.png" class="img-responsive"/>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="well text-center">
          <h3> You <%= @result %>
          </h3>
        </div>
      </div>
    </div>
  </div>

<!-- enter ruby here <%=  %>. -->
