<h1>HI</h1>
<a href="/rock" class="btn btn-block btn-primary">
  Play Rock
</a>
<a href="/paper" class="btn btn-block btn-primary">
  Play Paper
</a>
<a href="/scissors" class="btn btn-block btn-primary">
  Play Scissors
</a>
<p><%= @user_move  %></p>
<p><%= @computer_move  %></p>
<p><%= @result  %></p>
