<div class="container">
  <div class="row pic">
    <div class="col-lg-offset-2 col-lg-4"><h3><%= @player%></h3>
      <a href="#" class="thumbnail"><img src="assets/images/rock.png" alt="" /></a>

    </div>
    <div class="col-lg-4"><h3>
      <%= @computer %></h3>
      <a href="#" class="thumbnail"> <img src="assets/images/<%= @computer %>.png" alt="" /></a>
    </div>
  </div>
  <div class="row result">
    <h3> <%= @result %></div></h3>

</div>
